body {
    background-color: #0F1D3A;
}

th, td, label, p {
    color: #ffffff;
}

/* remove top border line over table */
.table > tbody > tr:first-child > th {
    border: none;
}

/* remove top border line over table and align text */
.table > tbody > tr:first-child > td {
    border: none;
    align: right;
}

hr {
    border: 0.5px solid gray;
}
